.App {
  text-align: center;
  color: #888;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-reddit-selector {
  background-color: #555;
  text-align: left;
  padding: 5px 10px;
}

.App-reddit-selector a {
  color: white;
}

.App-header {
  background-color: #222;
  height: 80px;
  color: #eee;
  text-align: left;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .item-index {
  line-height: 72px;
}

.App .item-vote {
  font-weight: bolder;
  text-align: center;
  width: 75px;
}

.App .type-selector {
  margin-bottom: 16px;
}

.load-more {
  margin-bottom: 15px;
}

.expander {
  float: left;
  margin-right: 15px;
}

.items-appear {
  opacity: 0.01;
}

.items-appear.items-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
